@import './../../../../styles.scss';

.container {
    width: $container-width;
    margin: 0 auto;
}

.logo img {
    width: 160px;
}
header {
    background-color: rgb(38, 38, 40);
    padding: 15px 40px;
}

@media only screen and (max-width: 1024px){
  .container {
    width: 100%
  }
}
@media only screen and (max-width: 767px){
  .container {
    text-align: center;
  }
}
@media only screen and (max-width: 480px){}
@media only screen and (max-width: 320px){}
